.botoes-ver-cadastro{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  
}
#apagar_venda{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
#nota-entry{
  text-align: justify;  
}
select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
#quant-produto{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
} 
.titulo-registro{
  font-weight: bold;
  line-height:30px;
 
}
#ver-cadastro-wrapper{
  max-width: 300px;
  padding: 10px;  
  background-color: #3094b4;
  margin:auto;
  margin-top:95px;
  width: 50%;
  border-radius:8px;
  
}
#ver-cadastro-wrapper input[type=text],#ver-cadastro-wrapper input[type=date]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  
}
input[type=button],button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;   
  margin-top:10px;
}
#botao-insere-registro{
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin:auto;
  margin-top:15px;
  margin-left:30px;
  
  
}
#botao-insere-registro:hover, #insere_ok:hover, #insere_cancela:hover,input[type=button]:hover{
  opacity: 0.8;

}
#insere_ok{
  background-color: #60c8ea;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}
#insere_cancela,#inserir-produto{
  background-color: #00000070;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5px;
}
.visualizar-registro visualizar-{
  width: 20%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  
}

span{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* heigh do html e body em 100% pra ficar no topo" */
body, html {
  height: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:lightblue;
  margin-top:0%;
}
input[type=text], input[type=tel], input[type=url], input[type=email], input[type=date] {
  width: 20%;
  padding: 12px 10px;
  margin: 8px 0;
  display:inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  align-content: center;

}

h1 {
  text-align: center;
}

h3 {
  text-align:center;
  color: white;
  background-color: #79aab7;
  margin-top: 200px;
  font-size: 18px;
  margin-bottom:-10px;
  
}

/* Style tab links */
.class_menu {
  background-color: rgb(0, 0, 0);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66666666666667%;
  font-weight: bolder;
}

.class_menu:hover {
  background-color: #777;
}
#telefone{
  padding:10px;
  margin-left:10px;
}
#email{
  padding:10px;
  margin-left:25px;
}
#site{
  padding:10px;
  margin-left:42px;
}
#nome{
  padding:10px;
  margin-left:25px;
}


/* Style the tab content (and add height:100% for full page content) */
.conteudo_tela {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.lista {
  overflow: hidden;
  max-width: 100%;
  max-height: 20px;
  word-wrap: break-word;
}


#Loja {
background-color:lightblue;
}

#Relatorio{
  
  background-color:lightblue;}
#Estoque{background-color:lightblue;}
.formatacao_tabela{
  margin:auto;
}
#Vendas{background-color:lightblue;

}
/*Edição em bloco da vendas*/ 
#lojatabela,#estoquetabela,#vendedortabela,#clientabela,#vendatabela,#clientetabela{
  background:black;
  color:white;
  margin:auto;
  margin-top:10px;
}

td{
  width:200px;
  text-align:center;
  color:black;
  background-color:#7fb3e0;
  font-family: 'Fira Sans', sans-serif;
}

.lista-linha-pointer {
	cursor: pointer;
}
#stats_results{

}
p{
  width: 400px;
  margin:auto; 
}
est_ven_cliente{
  margin-left:10px;
}

#Vendedor{background-color:lightblue;}
#Cliente{background-color:lightblue;}



