*{
  box-sizing: border-box;
}

form {
  font-family: 'Source Sans Pro', sans-serif;
  width: 50%;
  margin: 0 auto;
  font-size:17px;
} 

h1 {
  text-align: center;
}

body{
  background-color: lightblue;
}
label {
	width: 70px;

}

input{
  width: 100%;
  width: calc(100% - 70px);
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  margin-left: 10px;
}  

input[type=checkbox]{
  width: auto;
}

button {
  background-color: #00a3cc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}  

button:hover {
  opacity: 0.8;
} 

.wrapper {
  width: 100%;
  margin: 0 auto;

}
.input-wrapper{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}
