span{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* heigh do html e body em 100% pra ficar no topo" */
body, html {
  height: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:lightblue;
  margin-top:0%;
 
}
input[type=text], input[type=tel], input[type=url], input[type=email] {
  width: 20%;
  padding: 12px 10px;
  margin: 8px 0;
  display:inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  align-content: center;
  
}

h1{
  text-align: center;
}
h3 {
  text-align:center;
  color: white;
  background-color: #79aab7;
  margin-bottom: 0px;
  font-size: 16px;
}

.add{
    background-color: #170149;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
#adc:hover{
  cursor:pointer;
}
#voltar{
  background-color: #170149;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
#voltar:hover{
  cursor:pointer;
}
#enviar{
  background-color: #170149;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
#enviar:hover{
  cursor:pointer;
}
.add:hover{
  opacity: 0.9;
}

/* Style tab links */
.class_menu {
  background-color: rgb(0, 0, 0);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66666666666667%;
  font-weight: bolder;
}

.class_menu:hover {
  background-color: #777;
}
#telefone{
  padding:10px;
  margin-left:10px;
}
#email{
  padding:10px;
  margin-left:25px;
}
#site{
  padding:10px;
  margin-left:42px;
}
#nome{
  padding:10px;
  margin-left:25px;
}


/* Style the tab content (and add height:100% for full page content) */
.conteudo_tela {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.lista {
  overflow: hidden;
  max-width: 100%;
  max-height: 20px;
  word-wrap: break-word;
}
#principal{
  background-color: rgb(0, 0, 0);
  color: white;
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66666666666667%;
  font-weight: bolder;
}



#Loja {
background-color:lightblue;
}

#Relatorio{background-color:lightblue;}
#Estoque{background-color:lightblue;}
#Vendas{
  background-color:lightblue;

}
/*Edição em bloco da vendas*/ 
#lojatabela{
  background:black;
  color:white;
  margin:auto;
}
#estoquetabela{
  background:black;
 color:white;
 margin:auto;
}
#vendedortabela{
  background:black;
 color:white;
 margin:auto;
}
#clientabela{
  background:black;
  color:white;
  margin:auto;
}
#vendatabela,#clientetabela{
 background:black;
 color:white;
 margin:auto;
}
td{
  width:200px;
  text-align:center;
  color:black;
  background-color:#99b3ff;
  font-family: 'Fira Sans', sans-serif;
}
#Vendedor{background-color:lightblue;}
#Cliente{background-color:lightblue;}
