span{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* height do html e body em 100% pra ficar no topo" */
body, html {
  height: 100%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:lightblue;
  margin-top:0%;
 
}
input[type=text], input[type=tel], input[type=url], input[type=email] {
  width: 20%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(212, 21, 21);
  box-sizing: border-box;
  align-content: center;
}
h1{
  text-align: center;
}
#adc:hover{
  cursor: pointer;
}
#volt{
  background-color: white;
  border-color: black;
}
#volt:hover{
   cursor: pointer;
}
#env{
  background-color: white;
  border-color: black;
}
#env:hover{
 cursor: pointer;
}
.add{
    background-color: #000000;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}
.add:hover{
  opacity: 0.9;
}

/* Style tab links */
.class_menu {
  background-color: black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.66666666666667%;
  font-weight: bolder;
}

.class_menu:hover {
  background-color: #777;
}
#nome{
  padding: 10px;
  margin-left: 25px;
}
#telefone{
  padding: 10px;
  margin-left: 10px;
}
#email{
  padding: 10px;
  margin-left: 25px;
}
#site{
  padding: 10px;
  margin-left: 42px;
}
/* Style the tab content (and add height:100% for full page content) */
.conteudo_tela {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
#Loja {background-color:lightblue;}
#Relatorio{background-color:lightblue;}
#Estoque{background-color:lightblue;}
#Vendas{background-color:lightblue;}
#Vendedor{background-color:lightblue;}
#Cliente{background-color:lightblue;}
