
/* ====================================================================
 * Variables
 * ==================================================================== */

 :root {
	
	--turquoise: #000000;

	--fontSansSerif: 'Montserrat', sans-serif;
	--fontSerif: 'Bree Serif', serif;
}

/* ====================================================================
 * Resets
 * ==================================================================== */

h1 {
	margin: 0;
}

/* ====================================================================
 * Page
 * ==================================================================== */

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: var(--fontSansSerif);
	font-size: 16px;
	color: var(--white);
}

/* ====================================================================
 * Main
 * ==================================================================== */

.Main {
	position: relative;
	height: 100%;
}

/* ====================================================================
 * Header
 * ==================================================================== */

.Header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	background-color: transparent;
	padding: 0 40px;
	height: 72px;		
	justify-content: space-between;
}

.Header__title {
	font-family: var(--fontSerif);
	font-size: 36px;
}

.Header__nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.Header__nav ul li {
	display: inline-block;
}

.Header__link {
	padding: 8px 14px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	transition: color .3s ease;
	color: inherit;
}

.Header__link:hover {
	color: var(--turquoise);

}
/* ====================================================================
 * Hero
 * ==================================================================== */

.Hero {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	/*height: calc(100% - 72px);*/
	height: 100%;
	background-image:  url('hero.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.Hero__title {
	font-family: var(--fontSerif);
	font-size: 62px;
	margin: 0;

}

.Hero__highlight {
	position: relative;
	margin: 0;
	color: var(--turquoise);
	text-transform: uppercase;
	letter-spacing: 6px;
	padding-left: 12px;
}

.Hero__highlight::before {
	content: '';
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 48px;
	height: 3px;
	background-color: var(--turquoise);
}